*.a
*.app
*.class
*.d
*.gch
*.jar
*.l[ao]
*.lai
*.lib
*.o
*.obj
*.out
*.pb.*
*.pc
*.pch
*.pom
*.py[cod]
*.slo
*.so
*_pb2.py
*~
.deps/
.dirstamp
.dmypy.json
.env
.libs/
.pyre/
.pytype/
/3rdparty/Makefile
/3rdparty/Makefile.in
/3rdparty/libprocess/Makefile
/3rdparty/libprocess/Makefile.in
/3rdparty/libprocess/include/Makefile
/3rdparty/libprocess/include/Makefile.in
/3rdparty/stout/Makefile
/3rdparty/stout/Makefile.in
/3rdparty/stout/include/Makefile
/3rdparty/stout/include/Makefile.in
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/autoscan-*.log
/autoscan.log
/compile
/config.*
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/mdate-sh
/missing
/py-compile
/src/Makefile
/src/Makefile.in
/stamp-h?
/test-driver
/texinfo.tex
/ylwrap
3rdparty/boost-*-stamp
3rdparty/boost-*/
3rdparty/concurrentqueue-*-stamp
3rdparty/concurrentqueue-*/
3rdparty/csi-*-build-stamp
3rdparty/csi-*-build-stamp
3rdparty/csi-*-stamp
3rdparty/csi-*-stamp
3rdparty/csi-*/
3rdparty/csi-*/
3rdparty/elfio-*-stamp
3rdparty/elfio-*/
3rdparty/glog-*-build-stamp
3rdparty/glog-*-build-stamp
3rdparty/glog-*-stamp
3rdparty/glog-*-stamp
3rdparty/glog-*/
3rdparty/glog-*/
3rdparty/gmock_sources.cc
3rdparty/googletest-release-*-stamp
3rdparty/googletest-release-*/
3rdparty/grpc-*-build-stamp
3rdparty/grpc-*-stamp
3rdparty/grpc-*/
3rdparty/http-parser-*-build-stamp
3rdparty/http-parser-*-stamp
3rdparty/http-parser-*/
3rdparty/leveldb-*-stamp
3rdparty/leveldb-*/
3rdparty/libarchive-*-build-stamp
3rdparty/libarchive-*-stamp
3rdparty/libarchive-*/
3rdparty/libev-*-build-stamp
3rdparty/libev-*-stamp
3rdparty/libev-*/
3rdparty/libevent-*-stable-build-stamp
3rdparty/libevent-*-stable-stamp
3rdparty/libevent-*-stable/
3rdparty/libprocess/benchmarks
3rdparty/libprocess/example
3rdparty/libprocess/libprocess-tests
3rdparty/libprocess/ssl-client
3rdparty/libprocess/test-linkee
3rdparty/libseccomp-*-build-stamp
3rdparty/libseccomp-*-stamp
3rdparty/libseccomp-*/
3rdparty/nvml-*-stamp
3rdparty/nvml-*/
3rdparty/picojson-*-stamp
3rdparty/picojson-*/
3rdparty/protobuf-*-build-stamp
3rdparty/protobuf-*-stamp
3rdparty/protobuf-*/
3rdparty/rapidjson-*-stamp
3rdparty/rapidjson-*/
3rdparty/stout/stout-tests
3rdparty/zookeeper-*-stamp
3rdparty/zookeeper-*/
__pycache__/
autom4te.cache
bin/*.sh
dmypy.json
include/mesos/version.hpp
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
mpi/mpiexec-mesos
src/balloon-executor
src/balloon-framework
src/common/git_version.hpp
src/deploy/*.sh
src/disk-full-framework
src/docker-no-executor-framework
src/dynamic-reservation-framework
src/examples/java/test-exception-framework
src/examples/java/test-executor
src/examples/java/test-framework
src/examples/java/test-log
src/examples/java/test-multiple-executors-framework
src/examples/java/v1-test-framework
src/inverse-offer-framework
src/java/generated/org/apache/mesos/*.java
src/java/generated/org/apache/mesos/executor/
src/java/generated/org/apache/mesos/scheduler/
src/java/generated/org/apache/mesos/v1/
src/java/jni/*.h
src/java/target/
src/load-generator-framework
src/long-lived-executor
src/long-lived-framework
src/mesos
src/mesos-agent
src/mesos-cni-port-mapper
src/mesos-containerizer
src/mesos-default-executor
src/mesos-docker-executor
src/mesos-execute
src/mesos-executor
src/mesos-fetcher
src/mesos-io-switchboard
src/mesos-local
src/mesos-log
src/mesos-logrotate-logger
src/mesos-master
src/mesos-network-helper
src/mesos-resolve
src/mesos-tcp-connect
src/mesos-tests
src/mesos-usage
src/no-executor-framework
src/operation-feedback-framework
src/persistent-volume-framework
src/python/cli/setup.py
src/python/interface/setup.py
src/python/native/setup.py
src/python/setup.py
src/test-csi-plugin
src/test-csi-user-framework
src/test-executor
src/test-framework
src/test-helper
src/test-http-executor
src/test-http-framework
